[submodule "epicroad-30-front"]
	path = epicroad-30-front
	url = git@gitlab.com:t-web-8003/epicroad-30-front.git
[submodule "epicroad-30-back"]
	path = epicroad-30-back
	url = git@gitlab.com:t-web-8003/epicroad-30-back.git
