[submodule "epicroad-30-front"]
	path = epicroad-30-front
	url = git@github.com:Sandra-I/EpicRoad-30-Front-Epitech.git
[submodule "epicroad-30-back"]
	path = epicroad-30-back
	url = git@github.com:Sandra-I/EpicRoad-30-Back-Epitech.git
